@model FoodTracker3.Models.Meal
@{
    ViewBag.Title = "New";
}

@using (@Html.BeginForm("New", "Meal", FormMethod.Post, new { @class = "", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(m => m.MealName, "Meal Name")
        @Html.TextBoxFor(m => m.MealName, new { @class = "form-control", placeholder = "Write the name of the meal" })
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.AuthorName, "Author Name")
        @Html.TextBoxFor(m => m.AuthorName, new { @class = "form-control", placeholder = "Write the author name" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Rating, "Choose the Rating")
        <select name="Rating" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, "Description")
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", placeholder = "Write the Description" })
    </div>
}

@*<form>
    <div class="form-group">
        <label for="MealName">Meal Name</label>
        <input type="email" class="form-control" id="MealName" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="AuthorName">Brief Description</label>
        <input type="password" class="form-control" id="AuthorName" placeholder="description">
    </div>
    <div class="form-group">
        <label for="ImageDescription">Image</label>
        <input type="password" class="form-control" id="ImageDescription" placeholder=" url">
    </div>
    <div class="form-group">
        <label for="ImageURL">Brief Description</label>
        <input type="password" class="form-control" id="ImageURL" placeholder="description">
    </div>
    <div class="form-group">
        <label for="rating">Rating</label>
        <input type="password" class="form-control" id="rating" placeholder="how good was it">
    </div>

    <button type="submit" class="btn btn-default">Add Meal</button>
</form>*@
